.header {
  padding: 24px 0 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  width: 290px;
  border-radius: 8px;
  padding: 10px 16px;
  text-align: center;
  font-size: 14px;
}

.link_dark {
  background-color: #a6adff;
  margin-bottom: 4px;
}

.link_light {
  background-color: transparent;
  border: 1px solid #a6adff;
}

.logo {
  width: 137px;
  height: 24px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .header {
    padding-bottom: 60px;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 0;
  }

  .link_dark {
    width: 184px;
    margin: 0 8px 0 auto;
  }

  .link_light {
    width: 231px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-bottom: 80px;
  }

  .link_dark {
    width: 281px;
  }

  .link_light {
    width: 352px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-bottom: 100px;
  }
}
